*, *::before, *::after {
    box-sizing: border-box;
    
    }
    
    body{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: black;
        font-family: 'Indie Flower', cursive;
        align-content: center;
    }
   
    .container {
        width: 800px;
        font-size: 2em;
        max-width: 80%;
        background-color: aliceblue;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 100px 2px;
        position:absolute;
        top:50%;
        text-align: center;
    }
    
    .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 20px;
    }
    
    .btn {
    background-color: rgb(121, 105, 84);
    font-size: 1em;
    border:1px solid rgb(209, 142, 176);
    border-radius: 5px;
    padding: 5px 10px;
    color: aliceblue;
    outline: none;
    font-family: 'Indie Flower', cursive;
    }
    
    .btn:hover {
        border-color:black;
    }